.logo {
  width: 12%;
  margin-right: 20px;
  cursor: pointer;
}

.navbar {
  background-color: #0d253f;
  padding: 12px 40px;
  box-sizing: border-box;
}

.navbarMain {
  padding: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
}

.navbarLink a {
  color: white !important;
  font-weight: 500;
  font-size: 14px;
  padding: 0 8px !important;
}

.navbar-light .navbar-nav {
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
}

.navbarLink .dropdown {
  color: black !important;
}

.dropdownIcon {
  margin: 0px 15px;
}

.navRight {
  display: flex;
  align-items: center;
}

.navPlus {
  margin-right: 15px;
  font-size: 25px;
  padding: 20px;
}

.btnRegister {
  background: linear-gradient(to right, #59d6f8, #01b4e4);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  font-weight: 500;
}

.btnRegister:hover {
  background: #2b606e;
}
